{% load static %}
<!DOCTYPE html>
<html lang="GB18030">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<script src="{% static 'static/jquery/jquery-2.1.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'static/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/doc.min.css' %}">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           <div><a class="navbar-brand" style="font-size:32px;" href="#">图书管理系统 - 角色维护</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top:8px;">
				<div class="btn-group">
				  <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicon glyphicon-user"></i> admin <span class="caret"></span>
				  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
						<li class="divider"></li>
						<li><a href="/login/"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
					  </ul>
			    </div>
			</li>
            <li style="margin-left:10px;padding-top:8px;">
				<button type="button" class="btn btn-default btn-danger">
				  <span class="glyphicon glyphicon-question-sign"></span> 帮助
				</button>
			</li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul style="padding-left:0px;" class="list-group">
					<li class="list-group-item tree-closed" >
						<a href="main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a> 
					</li>
					<li class="list-group-item">
						<span><i class="glyphicon glyphicon glyphicon-tasks"></i> 权限管理 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;">
							<li style="height:30px;">
								<a href="/user/"><i class="glyphicon glyphicon-user"></i> 用户维护</a>
							</li>
							<li style="height:30px;">
								<a href="/role/" style="color:red;"><i class="glyphicon glyphicon-king"></i> 角色维护</a>
							</li>
							<li style="height:30px;">
								<a href="/permission/" ><i class="glyphicon glyphicon-lock"></i> 菜单维护</a>
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon-ok"></i> 业务审核 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"><i class="glyphicon glyphicon-check"></i> 实名认证审核</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html"><i class="glyphicon glyphicon-check"></i> 广告审核</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_project.html"><i class="glyphicon glyphicon-check"></i> 项目审核</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon-th-large"></i> 业务管理 <span class="badge" style="float:right">7</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 图书入库</a> 
							</li>
							<li style="height:30px;">
								<a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 借书</a> 
							</li>
							<li style="height:30px;">
								<a href="process.html"><i class="glyphicon glyphicon-random"></i> 还书</a> 
							</li>
							<li style="height:30px;">
								<a href="advertisement.html"><i class="glyphicon glyphicon-hdd"></i> 查询书库</a> 
							</li>
							<li style="height:30px;">
								<a href="message.html"><i class="glyphicon glyphicon-comment"></i> 预约图书</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed" >
						<a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 参数管理</a> 
					</li>
				</ul>
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ol class="breadcrumb">
				  <li><a href="/main/">首页</a></li>
				  <li><a href="/role/">数据列表</a></li>
				  <li class="active">分配许可</li>
				</ol>
			<div class="panel panel-default">
			  <div class="panel-body">
				<form method="POST" action="{% url 'assign_function' nid=role.role_id %}">
                {% csrf_token %}
                <!-- 未分配功能列表 -->
                <div class="form-group">
                    <label for="unassigned_functions">未分配功能列表</label><br>
                    <select class="form-control" id="unassigned_functions" multiple size="10" style="width:100px;overflow-y:auto;">
                        {% for function in unassigned_functions %}
                        <option value="{{ function.f_id }}">{{ function.f_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <!-- 按钮用于添加和删除功能 -->
                    <button type="button" class="btn btn-default add-function"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" class="btn btn-default remove-function"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </div>
                <!-- 已分配功能列表 -->
                <div class="form-group">
                    <label for="assigned_functions">已分配功能列表</label><br>
                    <select name="functions" class="form-control" id="assigned_functions" multiple size="10" style="width:100px;overflow-y:auto;">
                        {% for function in assigned_functions %}
                        <option value="{{ function.f_id }}">{{ function.f_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-success">保存更改</button>
            </form>




			  </div>
			</div>
        </div>
      </div>
    </div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">帮助</h4>
		  </div>
		  <div class="modal-body">
			<div class="bs-callout bs-callout-info">
				<h4>没有默认类</h4>
				<p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
			  </div>
			<div class="bs-callout bs-callout-info">
				<h4>没有默认类</h4>
				<p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
			  </div>
		  </div>
		  <!--
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		  -->
		</div>
	  </div>
	</div>
        <script>
        $(document).ready(function() {
            $('.add-function').click(function() {
                var selected = $('#unassigned_functions option:selected');
                selected.appendTo('#assigned_functions');
            });

            $('.remove-function').click(function() {
                var selected = $('#assigned_functions option:selected');
                selected.appendTo('#unassigned_functions');
            });
        });
        </script>
  </body>
</html>
